################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TypeGuesser/TypeGuesser/obj
/TypeGuesser/.vs
/TypeGuesser/TypeGuesser/bin
/FileSystemParser/.vs
/FileSystemParser/FileSystemParser/obj
/FileSystemParser/FileSystemParser/bin
