################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TypeGuesser/TypeGuesser/obj
/TypeGuesser/.vs/TypeGuesser
/TypeGuesser/TypeGuesser/bin/Debug/netcoreapp3.1
