/MyHomeWork1/.vs
/MyHomeWork1/MyHomeWork1/bin
/MyHomeWork1/MyHomeWork1/obj
/MyHomeWork2/.vs
/MyHomeWork2/MyHomeWork2/bin
/MyHomeWork2/MyHomeWork2/obj
/FileSystemParser/.vs
/FileSystemParser/FileSystemParser/bin
/FileSystemParser/FileSystemParser/obj
/Library/.vs
/Library/Library/bin
/Library/Library/obj
/CSVParser/.vs
/CSVParser/CSVParser/bin
/CSVParser/CSVParser/obj