@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Booklibrary</h1>
    <p>You can take the book you want from the <a class="link-primary" asp-controller="Books" asp-action="Index">list</a></p>
</div>
