@model BookLibrary.ViewModels.BooksViewModel

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var takenBooks = Model.UserBook.Select(p => p.BookId).Distinct().ToArray();
}

<h2>Books</h2>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Take</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Book)
        {
        <tr>
            <td>@book.Name</td>
            <td>
                    @if (!takenBooks.Contains(book.Id))
                    {
                        <a asp-controller="Books" asp-action="Take" asp-route-id="@book.Id">Take</a>
                    }
                    else if (Model.UserBook.Any(u => u.UserId == Model.CurrentUserId && u.BookId == book.Id))
                    {
                        <a asp-controller="Books" asp-action="Return" asp-route-id="@book.Id">Return</a>
                    }
                    else
                    {
                        <span>Not available</span>
                    }
            </td>
        </tr>

        }
    </tbody>
</table>
