@model BookLibrary.ViewModels.BookFormViewModel

@{
    ViewBag.Title = Model.Book.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to return a book "@Model.Book.Name"?</h2>
@using (Html.BeginForm("ReturnBook", "Books"))
{
    @Html.HiddenFor(b => b.Book.Id)
    <button type="submit" class="btn btn-primary">Return</button>
}